@page "/shows"
@using ShowTrack.Shared.Models
@using ShowTrack.Shared.Models.AsyncFilters
@using ShowTrack.Components.Common
@using System.Text.Json
@inject HttpClient Http

@namespace ShowTrack.Components.Shows

@if (shows == null)
{
    <p><em>Loading...</em></p>    
}
else
{ 
    <Filters FilterOptions="@FilterOptions" 
        ForShowType="@ShowType"
        OnApplyFilters="@SearchShows"></Filters>

    <MudPaper Elevation="2" Class="p-4 mb-4">
        <div class="d-flex flex-wrap gap-3">
            @foreach (var show in shows)
            {
                <ShowListItem show="@show" />
            }
            @if (shows.Count() == 0)
            {
                <MudAlert Severity="Severity.Info" Class="flex-grow-1">
                    No results found.
                </MudAlert>
            }
        </div>
    </MudPaper>    

}

@code {
    [Parameter]
    public ShowType ShowType { get; set; } = ShowType.None;
    
    public FilterOptions FilterOptions { get; set; } = new FilterOptions();
     
    public FilterOptionsDTO UpdatedFilterOptions { get; set; } = new FilterOptionsDTO();
    
    private ShowDTO[]? shows;

    protected override async Task OnInitializedAsync()
    {
        if (this.ShowType != ShowType.None)
        {                
            this.shows = await Http.GetFromJsonAsync<ShowDTO[]>($"api/Shows?showType={this.ShowType}");            
        }
        else 
        {
            this.shows = await Http.GetFromJsonAsync<ShowDTO[]>("api/Shows");
        }
    }

    public async Task SearchShows(FilterOptions filterOptions) 
    {
        // if (string.IsNullOrWhiteSpace(filterOptions?.SearchString)) return;

        this.UpdatedFilterOptions = filterOptions.BuildDataTransferObject();        
        Console.WriteLine(JsonSerializer.Serialize(this.UpdatedFilterOptions));

        var response = await Http.PostAsJsonAsync<FilterOptionsDTO>($"api/Shows/filter", this.UpdatedFilterOptions);
        this.shows = await response.Content.ReadFromJsonAsync<ShowDTO[]>(); 
    }
}
