@page "/"
@using ShowTrack.Client.Pages.Shows

<PageTitle>Shows Catalog</PageTitle>

<h1>Shows Catalog</h1>

<p>Shows across various video-subscription services can be viewed in this page.</p>

<ShowsList />
