<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand showtrack-icon" href="">
            <img src="/showtrack.png" width="35" height="38" 
                alt="ShowTrack icon" class="showtrack-icon" />
            <img style="margin-top: 3px;" 
                src="/showtrack_logo_text.png" alt="Showtrack logo text"
                width="150" height="25" class="align-text-top" />
        </a>
                    
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="movies">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Movies
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tvshows">
                <span class="oi oi-list-rich" aria-hidden="true"></span> TV Shows
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <span class="oi oi-chat" aria-hidden="true"></span> Show Buff
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
